
// Note: Shopify doesn't support sass import statements so all styling should be provided in this one file
// The code snippets for the production urls of image assets are commented out for reference  

.App {
  padding-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
