
// Note: Shopify doesn't support sass import statements so all styling should be provided in this one file
// The code snippets for the production urls of image assets are commented out for reference

.contributeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #9169d8;
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .header {
    padding: 20px;
  }
  
  button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 20px 0 0;
    background-color: #fff;
    border-radius: 6px;
    color: #9169d8;
    font-weight: 500;
    cursor: pointer;
  }

  .card {
    max-width: 600px;
    min-width: 300px;
    color: white;
    padding-top: 10px;
  }
  
  #paymentRequest {
    max-width: 500px;
    width: 100%;
    margin-bottom: 10px;
  }

  fieldset {
    margin: 20px;
    border: 1px solid #b5a4ed;
    padding: 30px;
    border-radius: 6px;
  }

  legend {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #cdd0f8;
    background-color: #9169d8;
  }

  .card-only {
    display: block;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 10px;
  }

  .field {
    position: relative;
    width: 100%;
  }

  .field+.field {
    margin-left: 20px;
  }

  label {
    width: 100%;
    text-align: left;
    color: #cdd0f8;
    font-size: 13px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input {
    width: 100%;
    color: #fff;
    background: transparent;
    padding: 10px 0 6px 0;
    border-style: none;
    border-bottom: 1px solid #a988ec;
    transition: border-color 0.3s (0.165, 0.84, 0.44, 1);
  }

  input::placeholder{
    font-weight: 100;
    color:white;
    font-size: 14px;
    opacity: 0.2;
  }

}


