
// Note: Shopify doesn't support sass import statements so all styling should be provided in this one file
// The code snippets for the production urls of image assets are commented out for reference

$color-accent:#9169d8;
$color-dark-accent: #9169d8;
$color-background: #9169d8; 
$color-medium-border: #a988ec;
$color-light-border: #b5a4ed;

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root-contribute {
  width: 400px;
}

.contributeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: $color-background;
  // these paddings are based on where the container the form is rendered into
  padding: 20px 30px 10px 30px;
  border-radius: 4px;
  
  .form {
    display: flex;
    flex-direction: column;
    margin: 0;
    // height: 300px;
  }

  .header {
    padding: 20px;
  }
  
  .sectionWrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .paymentSteps {
      border: 1px solid white;
      padding: 10px;
  }

  .stepsHeader {
    display: flex;
    flex: row;
    color: lightgray;
    margin: 15px 0px 30px 0px;
    border-bottom: 1px solid gray;
    justify-content: space-around;
    font-size: 15px;
    width: auto;
    p { 
       margin: 0;
       padding: 10px;
    }
    .boldStep {
      font-weight: bold;
      color: black;
    }
  }

  .amountSelection{
    .selectionRow{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    }
  }
  .selectContribAmount {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    width: 80px;
    height: 50px;
    text-align: center;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out
  }

  .contribAmountBtn:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
  }

  input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }

  .formFooter {
    display: flex;
    margin-top: 50px;
    padding-bottom: 10px; 
    justify-content: space-between;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
  }

  button {
    display: block;
    height: 40px;
    margin: 20px 0 0;
    background-color: $color-accent;
    border-radius: 6px;
    color: white;;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
  }

  .editBtn {
    background-color: white;
    color: black;
    border: 1px black solid;
  }

  #card {
    color: $color-accent;
    padding: 10px 0 6px 0;
    border-style: none;
    border-bottom: 1px solid $color-medium-border;
    transition: border-color 0.3s (0.165, 0.84, 0.44, 1);
  }

  .cardBody {
    width: 100%;
  }

  fieldset {
    background-color: white;
    width: auto;
    border: 1px solid $color-light-border;
    border-radius: 6px;
  }

  legend {
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: $color-dark-accent;
  }

  .card-only {
    display: block;
  }

  .row {
    display: flex;
    margin: 0 0 10px;
  }

  .row.terms {
    margin: 1em 0;
    color: $color-accent;
    p {
      font-size: 13px;
      margin: 0;
    }
  }

  .field {
    position: relative;
    width: 100%;
  }

  .field+.field {
    margin-left: 20px;
  }

  label {
    width: 100%;
    text-align: left;
    color: $color-dark-accent;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input {
    width: 100%;
    color: $color-accent;
    background: transparent;
    padding: 10px 0 6px 0;
    border-style: none;
    border-bottom: 1px solid $color-medium-border;
    transition: border-color 0.3s (0.165, 0.84, 0.44, 1);
  }

  .terms {
    color: white;
  }

  input[type=text], input[type=email], input[type=number], input[type=tel] {
    font-size:  15px;
    color: white;
  }

  input::placeholder{
    font-weight: 100;
    color:$color-accent;
    font-size: 14px;
    opacity: 0.2;
  }

}


